.header{
    display: flex;
    align-items: center;
    height: 120px;
    background-color: #e6e6fa;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
   height: 150px;
}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 5px;
}