
<mat-card-title class="title">JOGADORES</mat-card-title>


<mat-card *ngFor="let player of players" class="cards"> 
    <mat-card-title>
        {{ player.name }}
    </mat-card-title>
    <mat-card-content>
        {{ player.teamName }}
    </mat-card-content>
    <mat-card-content>
        {{ player.score }} pontos
        <mat-card-content class='status ok' *ngIf='player.status === "OK"'>
            {{ player.status }}
        </mat-card-content>
        <mat-card-content class='status pending' *ngIf='player.status === "PENDENTE"'>
            {{ player.status }}
        </mat-card-content>
     <!--    <span class='status ok' *ngIf='player.status === "OK"'> {{ player.status }} </span>
        <span class='status' color='warn' *ngIf='player.status === "PENDENTE"'> {{ player.status }} </span> -->
    </mat-card-content>
</mat-card>