.title {
    text-align: center;
    font-size: 1.6rem;
    margin: 10px 0px 45px 0px;
}

.cards {
    display:inline-block; 
    width: 20%; 
    margin: 5px 12px 5px 12px;
    background-color: rgb(230, 230, 250);
}