.title {
    text-align: center;
    font-size: 1.8rem;
    margin: 45px 0px 45px 0px;
    font-weight: bold;
}

.cards {
    display:inline-block; 
    width: 15%; 
    margin: 5px 12px 5px 12px;
    background-color: rgb(230, 230, 250);
}

.status {
    float: right;
}

.ok {
    color: rgb(4, 173, 4);
}

.pending {
    color: rgb(250, 20, 20)
}