<mat-card>
    <mat-card-title>
        Novo Jogador
    </mat-card-title>
    <form action="">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="player.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Pontos" [(ngModel)]="player.score" name="score">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Time do Coração" [(ngModel)]="player.teamName" name="teamName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status" [(ngModel)]="player.status" name="status">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createPlayer()" color="primary"> 
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()" color='warn'> 
        Cancelar
    </button>
   
 
</mat-card>


